.example-card {
  max-width: 450px;
  /* margin: 15px 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.flex-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.price-margin {
  margin-bottom: 5px;
}

.font-title {
  font-size: larger;
  line-height: 1.5;
  height: 80px;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: 500;
}

.star {
  color: yellow;
}

.category {
  color: purple;
  font-weight: bold;
  font-size: larger;
  margin-top: 15px;
}