.example-card {
  max-width: 220px;
  margin: 15px 5px;
}

.flex-item{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

/* .example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */
.price-margin{
    margin-bottom: 5px;
}
.font-title{
  font-size: small;
  line-height: 1.5;
  height: 80px;
}