.example-card {
  max-width: 250px;
  margin: 15px 5px;
}

.flex-item{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
.price-margin{
    margin-bottom: 5px;
}
.font-title{
  font-size: small;
  line-height: 1.5;
  height: 80px;
  font: bold;
}
.price{
    font-weight: 500;
}