table {
  width: 100%;
}
.empty{
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: large;
  justify-content: center;
  align-items: center;
}

.quantity{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.quantity-width{
  width:30px;
  display: flex;
  justify-content: center;
}
.price-width{
  width: 250px;
}
.btn{
  background-color: transparent;
  color: white;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
}
.grand-total{
  display: flex;
  justify-content:flex-end;
  gap: 195px;
  background-color: #424242;
  border-top: 1px solid rgb(202, 190, 190,0.2);
  padding: 13px 0;
  width:100%;
  color: white;
  margin-top: -18px;
  font-size: medium;
}
.ttl-margin{
  margin-right: 195px;
  min-width: 40px;
}