.example-spacer {
  flex: 1 1 auto;
}

.gap-btn {
  display: flex;
  gap: 10px;
}

.logged-name {
  margin-left: 6px;
  font-size: medium;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
  margin-top: 25px;
}

.example-full-width {
  width: 100%;
  height: 70px;
}